@page "/"
@inject HttpClient Http
@inject ItemsApiConsume.Interfaces.IItemsService ItemsService

<h1>Welcome to your notepad!</h1>

@*<div class="row">

    @foreach (var item in items)
    {
        <ItemsApiConsume.Components.ItemComponent Title="@item.Title" Description="@item.Description" />
    }

</div>

@code {
    private List<Models.Item> items;
    private Models.Item item = new();

    protected override async Task OnInitializedAsync()
    {
        items = await ItemsService.GetItems();
    }

    private async Task HandleValidSubmit()
    {
        item.Id = Guid.NewGuid().ToString();
        await ItemsService.PostItem(item);
    }
}*@